<div id="container">
  <div class="row">
      <div class="col-md-9">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">New Client</h3>
                  <div class="actions pull-right">
                      <i class="fa fa-expand"></i>
                      <i class="fa fa-chevron-down"></i>
                      <i class="fa fa-times"></i>
                  </div>
              </div>
              <div class="panel-body">

                  <%= form_for @client do |f| %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <%= f.collection_select(:organisation_id, Organisation.all, :id, :name) %>
                            </div>

                            <div class="form-group">
                                <%= f.select(:city_id, [['Primary Contact', true], ['Secondary Contact', false]]) %>
                            </div>

                            <div class="form-group">
                                <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name', id: 'first-name' %>
                            </div>

                            <div class="form-group">
                                <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name', id: 'last-name' %>
                            </div>

                            <div class="form-group">
                                <%= f.text_field :email, class: 'form-control', placeholder: 'Email', id: 'email' %>
                            </div>

                            <div class="form-group">
                                <%= f.text_field :tel, class: 'form-control', placeholder: 'Telephone', id: 'telephone' %>
                            </div>

                            <div class="form-group">
                                <%= f.text_area :note, class: 'form-control', placeholder: 'Internal Note' %>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <%= f.submit "Save Client", class: 'btn btn-success pull-right' %>
                        <button type="reset" class="btn btn-default pull-right reset">Cancel</button>
                    </div>
                  <% end %>

              </div>
          </div>
      </div>

      <div class="col-md-3">
          <%= link_to new_organisation_path, class: 'btn btn-block btn-success', role: 'button', 
          :data => {target: '.load-new-organisation', toggle: 'modal'} do %>
            <i class="fa fa-check"></i> Create new Organisation
          <% end %>
      </div>
  </div>

  <div class="modal fade load-new-organisation" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">

          
      </div>
    </div>
  </div>

</div>