<p>
You are about to send invoice <span id="invoice_no"><%= add_invoice_prefix(@invoice.number) %></span> to
<b id="company"><%= @invoice.client.organisation.name %>.</b><br>
Please confirm or cancel below to complete transaction.
</p>

<div class="modal-footer">
  <%= form_for :send_invoice, url: invoice_send_invoices_path do |f| %>
    <%= hidden_field_tag 'invoice_id', value: @invoice.id %>
    <%= f.submit 'Confirm', class: 'btn btn-success' %> 
  <% end %>
</div>


